{% extends 'index.html' %}

{% block content__books %}

<div class="row">
	<h3 class="text-center detailedUl_h3">
		<b>"LIBRARY BOOKS"</b>
	</h3>
</div>
<div class="row">
	{% if all_books %}
    <div class="offset-1 col-10 table-responsive">
		<table class="table table-bordered table-sm text-center caption-top text-small">
			<caption class="text-center">
				<div class="d-flex justify-content-between">
					<span>Library books data</span>
				</div>
			</caption>
			<thead>
				<tr class="align-middle">
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Author</th>
					<th scope="col">Genre</th>
					<th scope="col">Publish year</th>
					<th scope="col">Publisher</th>
					<th scope="col">Short description</th>
					<th scope="col">Available</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for i in all_books %}
				<tr class="align-middle">
					<td>{{forloop.counter}}</td>
					<td>{{i.title}}</td>
					<td>{{i.author}}</td>
					<td>{{i.genre}}</td>
                    <td>{{i.year_published}}</td>
					<td>{{i.publisher}}</td>
                    <td>{{i.description}}</td>
					<!-- hide from user -->
					<td><a href="" class="nav-link text-center"></a></td>
					<td><a href="{% url 'books__edit' i.id %}" class="nav-link text-center">&#9998;</a></td>
					<td><a href="{% url 'books__delete' i.id %}" class="nav-link text-center">&#10008;</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% else %}
		<div class="offset-1 col-10 mt-3 text-center">
			<p><b>There are no any books in the library.</b></p>
			<a href="{% url 'books__add' %}" class="btn btn-outline-secondary">&#8593;</a>
			<p class="text-small"><i>Add a new book</i></p>
		</div>
	{% endif %}
</div>

{% endblock %}