{% extends 'index.html' %} {% block content__books %}

<div class="row">
	<h3 class="text-center detailedUl_h3">
		<b>"AVAILABLE BOOKS"</b>
	</h3>
</div>
<div class="row">
	{% if available_books %}
	<div class="offset-1 col-10 table-responsive">
		<table class="table table-striped table-bordered table-sm text-center caption-top text-small">
			<caption class="text-center">
				<div class="d-flex justify-content-between">
					<span>Available books</span>
					<span
						><a href="{% url 'books__add' %}" class="nav-link" title="Add a new book"><b> &#8593; Add book</b></a></span
					>
				</div>
			</caption>
			<thead>
				<tr class="align-middle">
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Author</th>
					<th scope="col">Genre</th>
					<th scope="col">Publish year</th>
					<th scope="col">Publisher</th>
					<th scope="col">Short description</th>
					<th scope="col">Availability</th>
					<th scope="col">Rent book</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for i in available_books %}
				<tr class="align-middle">
					<td>{{forloop.counter}}</td>
					<td>{{i.title}}</td>
					<td>{{i.author}}</td>
					<td>{{i.genre}}</td>
					<td>{{i.year_published}}</td>
					<td>{{i.publisher}}</td>
					<td>{{i.description}}</td>
					{% if i.status == 'Available' %}
					<td class="text-success"><b>Available</b></td>
					{% else %}
					<td class="text-danger"><b>{{i.status}}</b></td>
					{% endif %}
					<td><a href="{% url 'books__rent' i.id %}" class="nav-link text-center" title="Rent book">&#10797;</a></td>
					<!-- hide from user -->
					<td><a href="{% url 'books__edit' i.id %}" class="nav-link text-center" title="Edit book">&#9998;</a></td>
					<td><a href="{% url 'books__delete' i.id %}" class="nav-link text-center" title="Delete book">&#10008;</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="d-flex justify-content-center">
			<a href="{% url 'books__list' %}" class="nav-link" title="Back">Back to books list</a>
		</div>
		<div class="offset-1 col-10 mt-3 text-center">
			<a href="{% url 'books__add' %}" class="btn btn-outline-secondary" title="Add a new book">&#8593;</a>
			<p class="text-small"><i>Add a new book</i></p>
		</div>
	</div>
	{% else %}
	<div class="offset-1 col-10 mt-3 text-center">
		<p><b>There are no any available books in the library.</b></p>
		<a href="{% url 'books__list' %}" class="nav-link mb-3" title="Back">Back to books list</a>
		<a href="{% url 'books__add' %}" class="btn btn-outline-secondary" title="Add a new book">&#8593;</a>
		<p class="text-small"><i>Add a new book</i></p>
	</div>
	{% endif %}
</div>

{% endblock %}
