{% extends 'index.html' %} {% block content__members_detailedUl %}

<div class="row">
	<h3 class="text-center detailedUl_h3">
		<b>"MEMBERS"</b>
	</h3>
</div>
<div class="row d-flex justify-content-center">
	<div class="col-lg-6 col-10">
		<dl class="text-center">
			<hr class="offset-1 col-10" />
			{% if perms.Library__main.change_customuser %}
			<dt><b>FOR ADMIN ONLY</b> - Edit members information:</dt>
			<dd class="text-small"><i>View, edit or delete members information.</i></dd>
			{% endif %}
			<dt>Current members list:</dt>
			<dd class="text-small">
				<i>Browse all registered members in the library.</i>
			</dd>
			{% if perms.Library__main.view_customuser %}
			<a href="{% url 'members__list' %}" class="btn btn-outline-secondary my-3" title="All Members">All members</a>
			{% endif %}
		</dl>
	</div>
</div>

{% endblock %}
